/* Estilos index */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(255, 245, 245);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

/* Aca comienza el header */

.separador{
    border-top: 2px solid rgba(15, 15, 15, 0.154);
    margin: 2rem;
}

header{
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #121212;
    font-size: 1.2rem;   
}

ul{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.divheader__logo{
    display: flex;
    align-items: center;
    width: 4vh;
    transition: all 0.3s;
}


.divheader__logo:hover{
    transform: scale(1.2);
}

li{
    list-style: none;
    margin: 1rem;
}

li a{
    text-decoration: none;
    color: rgb(255, 244, 244);
    font-size: 1.2rem;
}



li a:hover{
    color: rgb(192, 65, 65);
}

/* .header__navbar a:hover{
    color: red;
} */

h1{
    font-size: 400%;
    color: rgb(255, 255, 255);
}

.portada{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../recursos/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    padding: 1rem;
	margin-bottom: 2%;
}

/* Aca comienza el main */

.noticias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}

.noticias__efecto{
    transition: all 0.3s;
}

.noticias div:hover{
    transform: scale(1.1);
}


.noticias h2{
    text-align: left;
    color: white;
    font-size: 110%;
    margin-top: 5%;
}

.noticias div{
    width: 20%;
    background-color: #121212;
    padding: 1rem;
    margin: 2%;
    height: 30%;
    -webkit-box-shadow: 0px 0px 6px 3px #000000; 
    box-shadow: 0px 0px 6px 3px #000000;
}

.noticias img{
    width: 100%;
}

.informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
} 

.informacion div{
    width: 35%;
}

.informacion iframe{
    width: 85%;
}

/* Aca comienza el footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #121212;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 1%;
}

footer p{
    font-size: 100%;
    color: rgb(245, 239, 239);
}

footer P:hover{
    color: rgb(243, 31, 31);
}

footer img{
    width: 120%;
}

/* Estilos Contacto */

.titulo{
    text-align: center;
    color: #121212;
    font-size: 200%;
}

.contactenos{
    color: #121212;
    margin: 3rem;
    font-size: 100%;
}

.contactenos div{
    width: 100%;
    height: 100%;
}

.contactenos input{
    width: 70%;
}

.formulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}   

.divformUno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divformUno label{
    margin: 1rem;
}

.divformUno input{
    height: 30px;
}

.divformDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divformDos label{
    margin: 2rem;
}

.divformDos input{
    width: 15%;
    height: 30px;
    margin: 2rem;
}

.divformDos textarea{
    width: 60%;
    height: 150px;
}

.boton{
    transition: all 0.5s;
}

.boton:hover{
    background-color: #121212;
    transform: scale(1.1);
    color: rgb(250, 236, 236);
}

/* Estilos Galeria */

.galeria{
    display: grid;
    grid-template-rows: 500px 500px 500px 500px 500px 500px ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-position: center;
    
}

.galeria__uno{
    background-image: url(../recursos/galeria6.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    grid-row: 1/3;
}

.galeria__dos{
    background-image: url(../recursos/galeria8.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__tres{
    background-image: url(../recursos/galeria2.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__cuatro{
    background-image: url(../recursos/galeria12.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    grid-column: 2/4;
}


.galeria__cinco{
    background-image: url(../recursos/galerai10.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    grid-column: 1/3;
}

.galeria__seis{
    background-image: url(../recursos/galeria1.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;    
}

.galeria__siete{
    background-image: url(../recursos/galeria3.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__ocho{
    background-image: url(../recursos/galeria4.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__nueve{
    background-image: url(../recursos/galeria11.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    grid-row: 4/6;
    grid-column: 3;
}

.galeria__diez{
    background-image: url(../recursos/galeria5.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__once{
    background-image: url(../recursos/galeria7.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__doce{
    background-image: url(../recursos/galeria9.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__trece{
    background-image: url(../recursos/galeria13.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.galeria__catorce{
    background-image: url(../recursos/galeria14.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}
/* Estilos Deportes */
.deportes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.deportes div{
    margin: 1rem;
    background-color: rgb(22, 22, 22);
    -webkit-box-shadow: 0px 0px 6px 3px #000000; 
    box-shadow: 0px 0px 6px 3px #000000;
    transition: all 0.5s;
}

.deportes div:hover{
    transform: scale(1.03);
}

.deportes h2{
    margin: 1rem;
    color: white;
    text-align: center;
}

.deportes img{
    width: 95%;
    margin: 1rem;
}

/* Estilos El Monumental */

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "uno cuatro"
    "cinco dos"
    "tres seis";
    grid-template-rows: repeat(3,1fr);

}

.gridContainer h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 1%;
    color: #121212;
}

.gridContainer p{
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
}

.uno{
    display: flex;
    justify-content: center;
    align-content: center;
}

.uno__uno{
    background-image: url(../recursos/monumental.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: uno;
    margin-bottom: 2%;
    margin: 1rem;
    height: 70%;
    width: 70%;
}

.dos{
    display: flex;
    justify-content: center;
    align-content: center;
}

.dos__dos{
    background-image: url(../recursos/elmonumental.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: dos;
    margin: 1rem;
    height: 70%;
    width: 70%;
}

.tres{
    display: flex;
    justify-content: center;
    align-content: center;
}

.tres__tres{
    background-image: url(../recursos/elmonumental2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: tres;
    height: 70%;
    width: 70%;
    margin: 1rem;
}

.cuatro{
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
}

.cinco{
    grid-area: cinco;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%
}

.seis{
    grid-area: seis;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    margin-bottom: 5%;
}


/* Estilos de las Mediq Query para Tablet*/

@media (min-width: 541px) and (max-width: 720px) {

    h1{
        font-size: 200%;
    }

    header{
       flex-direction: column;
       flex-wrap: nowrap;
    }

    ul{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer a{
        padding: 1%;
    }

    footer p{
        font-size: 1rem;
    }

    .noticias{
        flex-wrap: wrap;
        flex-direction: column;
    }


    .noticias div{
        width: 55%;
    }

    .informacion div{
        width: 80%;
    }

    .informacion{
        margin-left: 4.5rem;
    }

    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
        grid-template-areas:
        "uno"
        "cuatro"
        "dos"
        "cinco"
        "tres"
        "seis";        
    }

    .gridContainer p{
        font-size: 90%;
        width: 90%;
        margin: 1rem;
        text-align: center;
    }

    .uno{
        grid-area: uno;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }

    .uno__uno{
        height: 15rem;
    }

    .dos{
        grid-area: dos;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    
    .dos__dos{
        height: 15rem;
    }

    .tres{
        grid-area: tres;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    
    .tres__tres{
        height: 15rem;
    }

    .cuatro{
        grid-area: cuatro;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .cinco{
        grid-area: cinco;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .seis{
        grid-area: seis;
        grid-column: 1/1;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    

    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6,300px);
        gap: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .formulario{
        flex-direction: column;
    }

}

/* Estilos de las Mediq Query para Mobile*/

@media (min-width: 320px) and (max-width: 540px) {
    header{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    ul{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    h1{
        font-size: 150%;
    }

    .noticias{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 5%;
    }

    .noticias div{
        width: 70%;
        margin-bottom: 5%;
    }

    .informacion{
        margin-left: 4rem;
    }

    .informacion div{
        width: 100%;
        margin-bottom: 8%;
    }

    .informacion iframe{
        height: 20rem;
    }

    footer P{
        font-size: 0.8rem;
    } 
    
    footer a{
        padding: 1%;
    }

    .deportes div img{
        width: 91%;
    }

    .galeria{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(14,300px);
        gap: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .galeria__uno{
        grid-row: 1/1;
    }

    .galeria__dos{
        grid-row: 2/2
    }
    .galeria__tres{
        grid-row: 3/3;
    }
    .galeria__cuatro{
        grid-row: 4/4;
        grid-column: 1/1;
    }
    .galeria__cinco{
        grid-row: 5/5;
        grid-column: 1/1;
    }
    .galeria__seis{
        grid-row: 6/6;
    }
    .galeria__siete{
        grid-row: 7/7;
    }
    .galeria__ocho{
        grid-row: 8/8;
    }
    .galeria__nueve{
        grid-row: 9/9;
        grid-column: 1/1;
        background-position: top;
    }
    .galeria__diez{
        grid-row: 10/10;
    }
    .galeria__once{
        grid-row: 11/11;
    }
    .galeria__doce{
        grid-row: 12/12;
    }
    .galeria__trece{
        grid-row: 13/13;
    }
    .galeria__catorce{
        grid-row: 14/14;
    }

    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
        grid-template-areas:
        "uno"
        "cuatro"
        "dos"
        "cinco"
        "tres"
        "seis";        
    }

    .gridContainer p{
        font-size: 90%;
        width: 90%;
        margin: 1rem;
        text-align: center;
    }

    .uno{
        grid-area: uno;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }

    .uno__uno{
        height: 15rem;
    }

    .dos{
        grid-area: dos;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    
    .dos__dos{
        height: 15rem;
    }

    .tres{
        grid-area: tres;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    
    .tres__tres{
        height: 15rem;
    }

    .cuatro{
        grid-area: cuatro;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .cinco{
        grid-area: cinco;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .seis{
        grid-area: seis;
        grid-column: 1/1;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .formulario{
        flex-direction: column;
    }

}



