/* Reset general para el navegador */
*{
    margin: 0px;
    padding: 0px;
}

/*  Estilos generales a toda la pagina  */

body{
    background-color: rgb(255, 245, 245);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

/* Separador entre la ubicacion , las noticias y el carrusel para marcar un principio y fin de secciones */

.separador{
    border-top: 2px solid rgba(15, 15, 15, 0.154);
    margin: 2rem;
}

/* Animacion del Logo principal */

.logo{
    width: 3rem;
    margin-left: 5rem;
    margin-right: 10rem; 
}

.logo:hover{
    transform: scale(1.2);
}

/* Tamaño y color del titulo principal */

h1{
    font-size: 5rem;
    color: rgb(255, 255, 255);
}

/* Titulo principal con imagen de fondo en grande y sus estilos correspondientes */

.portada{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../recursos/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40rem;
    padding: 1rem;
	margin-bottom: 1rem;
}

/* Estilos de la seccion de Noticias del Index */

.noticias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}


.noticias h2{
    text-align: left;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}

.noticias div{
    width: 25rem;
    background-color: #212529;
    padding: 1rem;
    margin: 3rem;
    height: 24rem;
    -webkit-box-shadow: 0px 0px 6px 3px #000000; 
    box-shadow: 0px 0px 6px 3px #000000;
}

.noticias img{
    width: 100%;
}

/* Animacion a los contenedores de las noticias */

.noticias__efecto{
    transition: all 0.3s;
}

.noticias div:hover{
    transform: scale(1.1);
}


/* Tamaño del carrusel de imagen en el Index */

.carrusel{
    width: 50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Estilos y tamaños del Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #212529;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.1rem;
}

footer p{
    font-size: 1rem;
    color: rgb(245, 239, 239);
    margin-bottom: 0px;
}

footer P:hover{
    color: rgb(243, 31, 31);
}

footer img{
    width: 100%;
}

/* Estilos de la pagina Contacto */

.titulo{
    text-align: center;
    color: #212529;
    font-size: 5rem;
    margin-bottom: 3rem;
}

/* Animacion a los botones */

.boton{
    transition: all 0.5s;
}

.boton:hover{
    background-color: #212529;
    transform: scale(1.1);
    color: rgb(250, 236, 236);
}

/* Estilos y tamaños de la pagina Deportes */
.deportes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.deportes div{
    margin: 1rem;
    background-color: rgb(22, 22, 22);
    -webkit-box-shadow: 0px 0px 6px 3px #000000; 
    box-shadow: 0px 0px 6px 3px #000000;
    transition: all 0.5s;
}

.deportes div:hover{
    transform: scale(1.03);
}

.deportes h2{
    margin: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.deportes img{
    width: 91%;
    margin: 1rem;
    margin-left: 2rem;
}



/* Estilos El Monumental */

.subtitulo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Estilos de las Mediq Query para pantallas medianas*/

@media (min-width: 721px) and (max-width: 1199px){

    /* Ajustando margenes de la galeria */

    .img__mar{
        width: 100%;
        margin-bottom: 1rem;
    }

    /* Ajustando tamaño del titulo principal */

    h1{
        font-size: 3rem;
    }

    /* Ajustando tamaño de los subtitulos */

    .titulo{
        font-size: 2rem;
    }
 

}

/* Estilos de las Mediq Query para Tablet*/

@media (min-width: 541px) and (max-width: 720px) {
  
    /* Ajustando tamaño del titulo principal */

    h1{
        font-size: 2rem;
    }

    /* Ajustando tamaños del footer para todas las paginas */

    footer a{
        padding: 0,5rem;
    }

    footer p{
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    /* Ajustando la organizacion de la seccion noticias */

    .noticias{
        flex-wrap: wrap;
        flex-direction: column;
    }


    .noticias div{
        width: 22rem;
    }

    /* Ajustando espacios entre las imagenes de galeria */

    .img__mar{
        margin-bottom: 1rem;
    }

    /* Ajustando tamaños del carrusel del Index */

    .carrusel{
        width: 25rem;
    }

    /* Ajustando tamaños de los subitutlos */

    .titulo{
        font-size: 1rem;
    }

}

/* Estilos de las Mediq Query para Mobile*/

@media (min-width: 320px) and (max-width: 540px) {

    /*  Ajustando tamaño del titulo principal */

    h1{
        font-size: 1rem;
    }

    /* Estilos de la seccion de noticias */

    .noticias{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0.5rem;
    }

    .noticias div{
        width: 20rem;
        margin-bottom: 1rem;
    }


    /* Tamaños ajustados del footer */

    footer P{
        margin-left: 0.5rem;
        font-size: 0.8rem;
    } 
    
    footer a{
        padding: 0.5rem;
    }
  
    /* Ocultar las imagenes de la seccion El Monumental */

    .imagen__dis{
        display: none;
    }
 
    /* Agregando margen entre las fotos de la galeria */

    .img__mar{
        margin-bottom: 1rem;
    }

    /* Ajustando tamaño del carrusel de imagenes */

    .carrusel{
        width: 20rem;
    }

    /*  Tamaño de los subtitulos */

    .titulo{
        font-size: 1rem;
    }

    /* Ajustando margenes de las imagenes de la seccion Deportes */

    .deportes img{
        margin-left: 1rem
    };

}






