/* Estilos index */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(255, 245, 245);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

/* Aca comienza el header */

.separador{
    border-top: 2px solid rgba(15, 15, 15, 0.154);
    margin: 2rem;
}

.logo{
    width: 3rem;
    margin-left: 5rem;
    margin-right: 10rem;
}

.logo:hover{
    transform: scale(1.2);
}

h1{
    font-size: 400%;
    color: rgb(255, 255, 255);
}

.portada{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../recursos/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    padding: 1rem;
	margin-bottom: 2%;
}

/* Aca comienza el main */

.noticias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}

.noticias__efecto{
    transition: all 0.3s;
}

.noticias div:hover{
    transform: scale(1.1);
}


.noticias h2{
    text-align: left;
    color: white;
    font-size: 110%;
    margin-top: 5%;
}

.noticias div{
    width: 21.5%;
    background-color: #212529;
    padding: 1rem;
    margin: 2%;
    height: 30%;
    -webkit-box-shadow: 0px 0px 6px 3px #000000; 
    box-shadow: 0px 0px 6px 3px #000000;
}

.noticias img{
    width: 100%;
}


.carrusel{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Aca comienza el footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #212529;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 1%;
}

footer p{
    font-size: 100%;
    color: rgb(245, 239, 239);
    margin-bottom: 0px;
}

footer P:hover{
    color: rgb(243, 31, 31);
}

footer img{
    width: 100%;
}

/* Estilos Contacto */

.titulo{
    text-align: center;
    color: #212529;
    font-size: 200%;
    margin-bottom: 3rem;
}

.boton{
    transition: all 0.5s;
}

.boton:hover{
    background-color: #212529;
    transform: scale(1.1);
    color: rgb(250, 236, 236);
}

/* Estilos deportes */

.deportes{
    transition: all 0.5s;
}

.deportes:hover{
    transform: scale(1.05);
}

/* Estilos Galeria */



/* Estilos El Monumental */

.subtitulo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Estilos de las Mediq Query para Tablet*/

@media (min-width: 541px) and (max-width: 720px) {

    h1{
        font-size: 200%;
    }

    footer a{
        padding: 1%;
    }

    footer p{
        font-size: 1rem;
    }

    .noticias{
        flex-wrap: wrap;
        flex-direction: column;
    }


    .noticias div{
        width: 55%;
    }

    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
        grid-template-areas:
        "uno"
        "cuatro"
        "dos"
        "cinco"
        "tres"
        "seis";        
    }

    .gridContainer p{
        font-size: 90%;
        width: 90%;
        margin: 1rem;
        text-align: center;
    }

    .uno{
        grid-area: uno;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }

    .uno__uno{
        height: 15rem;
    }

    .dos{
        grid-area: dos;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    
    .dos__dos{
        height: 15rem;
    }

    .tres{
        grid-area: tres;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    
    .tres__tres{
        height: 15rem;
    }

    .cuatro{
        grid-area: cuatro;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .cinco{
        grid-area: cinco;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .seis{
        grid-area: seis;
        grid-column: 1/1;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    

    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6,300px);
        gap: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

}

/* Estilos de las Mediq Query para Mobile*/

@media (min-width: 320px) and (max-width: 540px) {
    header{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    h1{
        font-size: 150%;
    }

    .noticias{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 5%;
    }

    .noticias div{
        width: 70%;
        margin-bottom: 5%;
    }


    footer P{
        font-size: 0.8rem;
    } 
    
    footer a{
        padding: 1%;
    }
    .galeria{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(14,300px);
        gap: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .galeria__uno{
        grid-row: 1/1;
    }

    .galeria__dos{
        grid-row: 2/2
    }
    .galeria__tres{
        grid-row: 3/3;
    }
    .galeria__cuatro{
        grid-row: 4/4;
        grid-column: 1/1;
    }
    .galeria__cinco{
        grid-row: 5/5;
        grid-column: 1/1;
    }
    .galeria__seis{
        grid-row: 6/6;
    }
    .galeria__siete{
        grid-row: 7/7;
    }
    .galeria__ocho{
        grid-row: 8/8;
    }
    .galeria__nueve{
        grid-row: 9/9;
        grid-column: 1/1;
        background-position: top;
    }
    .galeria__diez{
        grid-row: 10/10;
    }
    .galeria__once{
        grid-row: 11/11;
    }
    .galeria__doce{
        grid-row: 12/12;
    }
    .galeria__trece{
        grid-row: 13/13;
    }
    .galeria__catorce{
        grid-row: 14/14;
    }

    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
        grid-template-areas:
        "uno"
        "cuatro"
        "dos"
        "cinco"
        "tres"
        "seis";        
    }

    .gridContainer p{
        font-size: 90%;
        width: 90%;
        margin: 1rem;
        text-align: center;
    }

    .uno{
        grid-area: uno;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }

    .uno__uno{
        height: 15rem;
    }

    .dos{
        grid-area: dos;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    
    .dos__dos{
        height: 15rem;
    }

    .tres{
        grid-area: tres;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    
    .tres__tres{
        height: 15rem;
    }

    .cuatro{
        grid-area: cuatro;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .cinco{
        grid-area: cinco;
        grid-column: 1/1;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .seis{
        grid-area: seis;
        grid-column: 1/1;
        padding: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
}



