/* Estilos y tamaños de la pagina Deportes */
@mixin estiloDeportes(){
    margin: 1rem;
    background-color: $color-secundary;
    -webkit-box-shadow: 0px 0px 6px 3px $color-shadows; 
    box-shadow: 0px 0px 6px 3px $color-shadows;
}

@mixin estiloSubtitulo(){
    margin: 1rem;
    font-family: $font-secundary;
    color: $color-tittle;
}

.deportes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__card{
        @include estiloDeportes();
        transition: all 0.5s;
        &:hover{
            transform: scale(1.03); 
        }
    }

    &__subtitulo{
        @include estiloSubtitulo();
        text-align: center;
    }

    &__imagen{
        width: 91%;
        margin: 1rem;
        margin-left: 2rem;
    }
}
