@import 'helper';
/* Animacion del Logo principal y estilos del header */

.logo{
    @include tamanioLogo();
    &:hover{
        transform: scale(1.2);
    }
}
    
.nav-item{
    font-family: $font-primary;
    text-transform: uppercase;
}

.nav-link{
    font-size: 1rem;
    color: $color-body;
}