@import 'helper';
/* Animacion del Logo principal y estilos del header */

.logo{
    @include tamanioLogo();
    &:hover{
        transform: scale(1.2);
    }
}
    
.nav-item{
    font-family: $font-primary;
    font-size: 1.5rem;
    text-transform: uppercase;
}