/* Estilos de la seccion de Noticias del Index */
@import 'helper';


.noticias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    
    &__texto{
        text-align: center;
        @include colorTexto();
   }
    &__card{
        @include tamanioTarjeta();
        @include colorTarjeta();
    }
    &__img{
        width: 100%;
    }
    &__efecto{
        transition: all 0.3s;
    
        &:hover{
            transform: scale(1.1);
        }
    }
}
