/* Estilos de las Mediq Query para pantallas medianas*/

@media (min-width: 721px) and (max-width: 1199px){

    /* Ajustando margenes de la galeria */

    .img__marGaleria{
        width: 100%;
        margin-bottom: 1rem;
    }

    /* Ajustando tamaño del titulo principal */

    h1{
        font-size: 3rem;
    }

    /* Ajustando tamaño de los subtitulos */

    .tituloForm{
        font-size: 2rem;
    }
 

}

/* Estilos de las Mediq Query para Tablet*/

@media (min-width: 541px) and (max-width: 720px) {
  
    /* Ajustando tamaño del titulo principal */

    h1{
        font-size: 2rem;
    }

    /* Ajustando tamaños del footer para todas las paginas */

    .redes{
        &__links{
            padding: 0,5rem;
        }
        &__derechos{
            display: none;
        }
    }

    /* Ajustando la organizacion de la seccion noticias */

    .noticias{
        flex-wrap: wrap;
        flex-direction: column;
        &__card{
            width: 22rem; 
        }
    }
 
    /* Ajustando espacios entre las imagenes de galeria */

    .img__marGaleria{
        margin-bottom: 1rem;
    }

    /* Ajustando tamaños del carrusel del Index */

    .carruselIndex{
        width: 25rem;
    }

    /* Ajustando tamaños de los subitutlos */

    .tituloForm{
        font-size: 1rem;
    }

}

/* Estilos de las Mediq Query para Mobile*/

@media (min-width: 320px) and (max-width: 540px) {

    /*  Ajustando tamaño del titulo principal */

    h1{
        font-size: 1rem;
    }

    /* Estilos de la seccion de noticias */

    .noticias{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0.5rem;

        &__card{
            width: 20rem;
            margin-bottom: 1rem; 
        }
    }

    /* Tamaños ajustados del footer */

    .redes{
        &__derechos{
            display: none;
        }
        &__links{
            padding: 0.5rem;
        }
    }  
    /* Ocultar las imagenes de la seccion El Monumental */

    .imagen__disMonumental{
        display: none;
    }
 
    /* Agregando margen entre las fotos de la galeria */

    .img__marGaleria{
        margin-bottom: 1rem;
    }

    /* Ajustando tamaño del carrusel de imagenes */

    .carruselIndex{
        width: 20rem;
    }

    /*  Tamaño de los subtitulos */

    .tituloForm{
        font-size: 1rem;
    }

    /* Ajustando margenes de las imagenes de la seccion Deportes */
    
    .deportes__imagen{
        margin-left: 1rem;        
        
    }

}