@import 'helper';
/* Tamaño y color del titulo principal */


h1{
    font-size: 5rem;
    color: $color-tittle;
}

/* Titulo principal con imagen de fondo en grande y sus estilos correspondientes */

.portada{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    @include fotoPortada();
    @include tamanioPortada();
}