/* COLORES */
$color-primary: #212529;
$color-secundary: #121212;
$color-body: #fffffff6;
$button-color:#080808;
$color-shadows:#000000;
$button-color-letter:#f0b7b7f6;
$button-color-hover:#f8e8e8;
$separador-color:rgba(14, 13, 13, 0.154);
$color-tittle:rgb(255, 255, 255);
$redes-hover:rgb(243, 31, 31);

  /* TIPOGRAFIAS */

$font-primary: 'Times New Roman', Times;
$font-secundary: 'Lucida Sans', 'Lucida Sans Regular';
