@import 'variables';
/* Reset general para el navegador */
*{
    margin: 0px;
    padding: 0px;
}

/*  Estilos generales a toda la pagina  */

body{
    background-color: $color-body;
    font-family: $font-primary;
}

/* Separador entre la ubicacion , las noticias y el carrusel para marcar un principio y fin de secciones */

.separador{
    border-top: 2px solid $separador-color;
    margin: 2rem;
}

/* Animacion del Logo principal */

.logo{
    width: 3rem;
    margin-left: 5rem;
    margin-right: 10rem; 
    &:hover{
        transform: scale(1.2);
    }
}

li a {
    text-transform: uppercase;
}

/* Tamaño y color del titulo principal */

h1{
    font-family: $font-secundary;
    font-size: 5rem;
    color: $color-tittle;
}

/* Titulo principal con imagen de fondo en grande y sus estilos correspondientes */

.portada{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../recursos/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40rem;
    padding: 1rem;
	margin-bottom: 1rem;
}

/* Estilos de la seccion de Noticias del Index */

.noticias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    
    &__texto{
        text-align: center;
        color: $color-tittle;
        font-size: 1rem;
        margin-top: 1rem;
    }
    &__card{
        width: 25rem;
        background-color: $color-primary;
        padding: 1rem;
        margin: 3rem;
        height: 24rem;
        -webkit-box-shadow: 0px 0px 6px 3px $color-shadows; 
        box-shadow: 0px 0px 6px 3px $color-shadows;
    }
    &__img{
        width: 100%;
    }
}

/* Animacion a los contenedores de las noticias */

.noticias__efecto{
    transition: all 0.3s;

    &:hover{
        transform: scale(1.1);
    }
}

/* Tamaño del carrusel de imagen en el Index */

.carruselIndex{
    width: 50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Estilos y tamaños del Footer */

.redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-secundary;
    font-family: $font-secundary; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.1rem;

    &__derechos{
        font-size: 1rem;
        color: $color-tittle;
        margin-bottom: 0px;
        &:hover{
            color: $redes-hover;
        }
    }

    &__img{
        width: 100%;
    }
}

/* Estilos de la pagina Contacto */

.tituloForm{
    text-align: center;
    color: $color-secundary;
    font-size: 5rem;
    margin-bottom: 3rem;
}

/* Animacion a los botones */

.boton{
    font-family: $font-secundary;
    transition: all 0.5s;
    background-color: $button-color;
    color: $button-color-letter;

    &:hover{
        background-color: $color-secundary;
        transform: scale(1.1);
        color: $button-color-hover;  
    }

}


/* Estilos y tamaños de la pagina Deportes */
.deportes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__card{
        margin: 1rem;
        background-color: $color-secundary;
        -webkit-box-shadow: 0px 0px 6px 3px $color-shadows; 
        box-shadow: 0px 0px 6px 3px $color-shadows;
        transition: all 0.5s;
        &:hover{
            transform: scale(1.03); 
        }
    }

    &__subtitulo{
        margin: 1rem;
        font-family: $font-secundary;
        color: $color-tittle;
        text-align: center;
    }

    &__imagen{
        width: 91%;
        margin: 1rem;
        margin-left: 2rem;
    }
}



/* Estilos El Monumental */

.subtituloMonumental{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Estilos de las Mediq Query para pantallas medianas*/

@media (min-width: 721px) and (max-width: 1199px){

    /* Ajustando margenes de la galeria */

    .img__marGaleria{
        width: 100%;
        margin-bottom: 1rem;
    }

    /* Ajustando tamaño del titulo principal */

    h1{
        font-size: 3rem;
    }

    /* Ajustando tamaño de los subtitulos */

    .tituloForm{
        font-size: 2rem;
    }
 

}

/* Estilos de las Mediq Query para Tablet*/

@media (min-width: 541px) and (max-width: 720px) {
  
    /* Ajustando tamaño del titulo principal */

    h1{
        font-size: 2rem;
    }

    /* Ajustando tamaños del footer para todas las paginas */

    .redes{
        &__links{
            padding: 0,5rem;
        }
        &__derechos{
            display: none;
        }
    }

    /* Ajustando la organizacion de la seccion noticias */

    .noticias{
        flex-wrap: wrap;
        flex-direction: column;
        &__card{
            width: 22rem; 
        }
    }
 
    /* Ajustando espacios entre las imagenes de galeria */

    .img__marGaleria{
        margin-bottom: 1rem;
    }

    /* Ajustando tamaños del carrusel del Index */

    .carruselIndex{
        width: 25rem;
    }

    /* Ajustando tamaños de los subitutlos */

    .tituloForm{
        font-size: 1rem;
    }

}

/* Estilos de las Mediq Query para Mobile*/

@media (min-width: 320px) and (max-width: 540px) {

    /*  Ajustando tamaño del titulo principal */

    h1{
        font-size: 1rem;
    }

    /* Estilos de la seccion de noticias */

    .noticias{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0.5rem;

        &__card{
            width: 20rem;
            margin-bottom: 1rem; 
        }
    }

    /* Tamaños ajustados del footer */

    .redes{
        &__derechos{
            display: none;
        }
        &__links{
            padding: 0.5rem;
        }
    }  
    /* Ocultar las imagenes de la seccion El Monumental */

    .imagen__disMonumental{
        display: none;
    }
 
    /* Agregando margen entre las fotos de la galeria */

    .img__marGaleria{
        margin-bottom: 1rem;
    }

    /* Ajustando tamaño del carrusel de imagenes */

    .carruselIndex{
        width: 20rem;
    }

    /*  Tamaño de los subtitulos */

    .tituloForm{
        font-size: 1rem;
    }

    /* Ajustando margenes de las imagenes de la seccion Deportes */

    .deportes__imagen{
        margin-left: 1rem;
    }

}

