@import 'variables';
@import 'helper';
@import 'boton';
@import 'header';
@import 'portada';
@import 'index';
@import 'deportes';
@import 'footer';

/* Reset general para el navegador */
*{
    margin: 0px;
    padding: 0px;
}

/*  Estilos generales a toda la pagina  */

body{
    background-color: $color-body;
    font-family: $font-primary;
}

/* Separador entre la ubicacion , las noticias y el carrusel para marcar un principio y fin de secciones */

.separador{
    border-top: 2px solid $separador-color;
    margin: 2rem;
}
/* Estilos de la pagina Contacto*/

@mixin formTitulo(){
    color: $color-secundary;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.tituloForm{
    text-align: center;
    @include formTitulo();
}
/* Estilos subtitulo El Monumental */


.subtituloMonumental{
    margin-top: 2rem;
    margin-bottom: 2rem;
    &__p{
        font-family: $font-secundary;
    }
}

/* Estilos titulo galeria */


.galeriaTitulo{
    text-align: center;
    
}

@import "mediaquerys";

